spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres1234
    url: jdbc:postgresql://localhost:5432/api_restfull_code_challenge
    platform: postgres
    initialization-mode: always
    continue-on-error: true
  jpa:
    open-in-view: false
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
  server:
    port: 80
  cors:
    originPatterns: http:localhost:3000,http:localhost:8080
  file:
    upload-dir:/home/runner/work/code-challenge-swat/UploadDir