name: Continuous Integration with Github Actions

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build Application JAR
        working-directory: ./code-challenge-swat
        run: mvn clean package

      - name: Docker Compose Build
        working-directory: ./code-challenge-swat
        run: docker compose build

      - name: Push to Docker Hub Container Registry
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/code-challenge-swat:latest ${{ secrets.DOCKER_USERNAME }}/code-challenge-swat:${{ github.run_id }}
          docker push ${{ secrets.DOCKER_USERNAME }}/code-challenge-swat:${{ github.run_id }}
          docker push ${{ secrets.DOCKER_USERNAME }}/code-challenge-swat:latest
